<a href="https://colab.research.google.com/github/sameersahu473/comp1/blob/main/final1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
! mkdir ~/.kaggle

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle competitions download -c cascade-cup-22

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
 77% 13.0M/16.9M [00:00<00:00, 136MB/s]
100% 16.9M/16.9M [00:00<00:00, 107MB/s]
Downloading test.csv.zip to /content
  0% 0.00/4.31M [00:00<?, ?B/s]
100% 4.31M/4.31M [00:00<00:00, 39.6MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/317k [00:00<?, ?B/s]
100% 317k/317k [00:00<00:00, 98.8MB/s]

In [6]:
!unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

In [7]:
!unzip test.csv.zip

Archive:  test.csv.zip
  inflating: test.csv

In [8]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
from sklearn import model_selection, metrics
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

/usr/local/lib/python3.7/dist-packages/sklearn/experimental/enable_hist_gradient_boosting.py:17: UserWarning: Since version 1.0, it is not needed to import enable_hist_gradient_boosting anymore. HistGradientBoostingClassifier and HistGradientBoostingRegressor are now stable and can be normally imported from sklearn.ensemble.
  "Since version 1.0, "

In [10]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [11]:
df_test.head()

            order_time  order_id  ... reassigned_order session_time
0  2021-02-06 10:03:24    130231  ...              NaN   273.400000
1  2021-02-06 10:03:26    130232  ...              NaN   252.100000
2  2021-02-06 10:03:27    130233  ...              NaN   241.383333
3  2021-02-06 10:03:29    130234  ...              NaN   291.933333
4  2021-02-06 10:03:35    130235  ...              NaN   247.133333

[5 rows x 16 columns]

In [12]:
df.shape

(450000, 20)

In [13]:
df.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [14]:
df.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [15]:
df_test.shape

(144844, 16)

In [16]:
df_test.size

2317504

In [17]:
df['rider_id'].value_counts()

237      228
190      213
11998    209
170      203
853      200
        ...
9339       1
20693      1
16603      1
20692      1
4895       1
Name: rider_id, Length: 19537, dtype: int64

In [18]:
df.shape

(450000, 20)

In [19]:
df.isnull().sum()

order_time                   0
order_id                     0
order_date                   0
allot_time                   0
accept_time                157
pickup_time               2421
delivered_time            5218
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
dtype: int64

In [20]:
df = df.drop(columns=['order_id','pickup_time','delivered_time'],axis =1)

In [21]:
df.head()

            order_time           order_date  ... session_time cancelled_time
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ...          NaN            NaN
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ...     3.266667            NaN
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ...     9.816667            NaN
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ...    17.533333            NaN
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ...     1.350000            NaN

[5 rows x 17 columns]

In [22]:
df_test = df_test.drop(['order_id'],axis=1)

In [23]:
df.isnull().sum()

order_time                   0
order_date                   0
allot_time                   0
accept_time                157
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
dtype: int64

In [24]:
df['cancelled'].value_counts()

0    444782
1      5218
Name: cancelled, dtype: int64

In [25]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
object
Data type of accept_time column of Dataframe :
object
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object

In [26]:
#creating the datetime column
df['allot_time'] = pd.to_datetime(df['allot_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['allot_time'] = pd.to_datetime(df_test['allot_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [27]:
df['accept_time'] = pd.to_datetime(df['accept_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['accept_time'] = pd.to_datetime(df_test['accept_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [28]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
datetime64[ns]
Data type of accept_time column of Dataframe :
datetime64[ns]
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object

In [29]:
df['accept_to_allot'] = (df['accept_time'] - df['allot_time'])
df_test['accept_to_allot'] = (df_test['accept_time'] - df_test['allot_time'])

In [30]:
df.head()

            order_time           order_date  ... cancelled_time accept_to_allot
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ...            NaN 0 days 00:00:09
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ...            NaN 0 days 00:00:48
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ...            NaN 0 days 00:00:16
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ...            NaN 0 days 00:00:41
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ...            NaN 0 days 00:00:36

[5 rows x 18 columns]

In [31]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
datetime64[ns]
Data type of accept_time column of Dataframe :
datetime64[ns]
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object
Data type of accept_to_allot column of Dataframe :
timedelta64[ns]

In [32]:
df.shape

(450000, 18)

In [33]:
df['accept_sec'] = df[:450000]['accept_to_allot'].astype('timedelta64[s]')
df_test['accept_sec'] = df_test[:450000]['accept_to_allot'].astype('timedelta64[s]')

In [34]:
df.head()

            order_time           order_date  ... accept_to_allot accept_sec
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ... 0 days 00:00:09        9.0
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ... 0 days 00:00:48       48.0
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ... 0 days 00:00:16       16.0
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ... 0 days 00:00:41       41.0
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ... 0 days 00:00:36       36.0

[5 rows x 19 columns]

In [35]:
df_test.head()

            order_time           order_date  ... accept_to_allot accept_sec
0  2021-02-06 10:03:24  2021-02-06 00:00:00  ... 0 days 00:00:26       26.0
1  2021-02-06 10:03:26  2021-02-06 00:00:00  ... 0 days 00:00:09        9.0
2  2021-02-06 10:03:27  2021-02-06 00:00:00  ... 0 days 00:01:20       80.0
3  2021-02-06 10:03:29  2021-02-06 00:00:00  ... 0 days 00:00:23       23.0
4  2021-02-06 10:03:35  2021-02-06 00:00:00  ... 0 days 00:01:00       60.0

[5 rows x 17 columns]

In [36]:
#creating the datetime column
df['order_time'] = pd.to_datetime(df['order_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['order_time'] = pd.to_datetime(df_test['order_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [37]:
df['order_to_allot'] = (df['accept_time'] - df['order_time'])
df_test['order_to_allot'] = (df_test['accept_time'] - df_test['order_time'])

In [38]:
df['order_sec'] = df[:450000]['order_to_allot'].astype('timedelta64[s]')
df_test['order_sec'] = df_test[:450000]['order_to_allot'].astype('timedelta64[s]')

In [39]:
df.head()

           order_time           order_date  ...  order_to_allot order_sec
0 2021-01-26 02:21:35  2021-01-26 00:00:00  ... 0 days 00:00:33      33.0
1 2021-01-26 02:33:16  2021-01-26 00:00:00  ... 0 days 00:01:29      89.0
2 2021-01-26 02:39:49  2021-01-26 00:00:00  ... 0 days 00:00:24      24.0
3 2021-01-26 02:47:53  2021-01-26 00:00:00  ... 0 days 00:01:13      73.0
4 2021-01-26 03:06:30  2021-01-26 00:00:00  ... 0 days 00:01:27      87.0

[5 rows x 21 columns]

In [40]:
df_test = df_test.drop(['order_time','allot_time','accept_time','accept_to_allot','order_to_allot'],axis=1)
df= df.drop(['order_time','allot_time','accept_time','accept_to_allot','order_to_allot'],axis=1)

In [41]:
df['order_date'] = pd.to_datetime(df['order_date'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['order_date'] = pd.to_datetime(df_test['order_date'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [42]:

df['month'] = pd.DatetimeIndex(df['order_date']).month



df_test['month'] = pd.DatetimeIndex(df_test['order_date']).month

In [43]:

df['day'] = pd.DatetimeIndex(df['order_date']).day



df_test['day'] = pd.DatetimeIndex(df_test['order_date']).day

In [44]:
df.head()

  order_date  rider_id  first_mile_distance  ...  order_sec  month  day
0 2021-01-26     11696               1.5666  ...       33.0      1   26
1 2021-01-26     18117               2.5207  ...       89.0      1   26
2 2021-01-26     18623               2.2074  ...       24.0      1   26
3 2021-01-26     15945               2.1894  ...       73.0      1   26
4 2021-01-26     17589               2.7870  ...       87.0      1   26

[5 rows x 18 columns]

In [45]:
df.columns

Index(['order_date', 'rider_id', 'first_mile_distance', 'last_mile_distance',
       'alloted_orders', 'delivered_orders', 'cancelled', 'undelivered_orders',
       'lifetime_order_count', 'reassignment_method', 'reassignment_reason',
       'reassigned_order', 'session_time', 'cancelled_time', 'accept_sec',
       'order_sec', 'month', 'day'],
      dtype='object')

In [46]:
df['reassignment_reason'].value_counts()

Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket    7212
Reassignment Request from SE portal.                                            5300
Reassign                                                                        1241
Name: reassignment_reason, dtype: int64

In [47]:
df_test['reassignment_reason'].value_counts()

Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket    2593
Reassignment Request from SE portal.                                            1582
Reassign                                                                         460
Name: reassignment_reason, dtype: int64

In [48]:
df['reassignment_method'].value_counts()

auto      13383
manual      361
Name: reassignment_method, dtype: int64

In [49]:
df_test['reassignment_method'].value_counts()

auto      4531
manual     101
Name: reassignment_method, dtype: int64

In [50]:
df.dtypes

order_date              datetime64[ns]
rider_id                         int64
first_mile_distance            float64
last_mile_distance             float64
alloted_orders                 float64
delivered_orders               float64
cancelled                        int64
undelivered_orders             float64
lifetime_order_count           float64
reassignment_method             object
reassignment_reason             object
reassigned_order               float64
session_time                   float64
cancelled_time                  object
accept_sec                     float64
order_sec                      float64
month                            int64
day                              int64
dtype: object

In [51]:
num_col = [c for i, c in enumerate(df.columns) if df.dtypes[i] in [np.int, np.float]]
len(num_col)

14

In [52]:
num_col = [c for i, c in enumerate(df.columns) if df.dtypes[i] in [np.object]]
len(num_col)

3

In [53]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
accept_sec                 157
order_sec                  157
month                        0
day                          0
dtype: int64

In [54]:
df_test.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders            4773
delivered_orders          4884
undelivered_orders        4884
lifetime_order_count       778
reassignment_method     140212
reassignment_reason     140209
reassigned_order        140209
session_time              5054
accept_sec                  68
order_sec                   68
month                        0
day                          0
dtype: int64

In [55]:
df['reassignment_reason'] = df['reassignment_reason'].replace(np.nan, 0)

In [56]:
df_test['reassignment_reason'] = df_test['reassignment_reason'].replace(np.nan, 0)

In [57]:
df['reassignment_reason'] = df['reassignment_reason'].replace(('Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket','Reassignment Request from SE portal.','Reassign','0'),(3,2,1,0))
df_test['reassignment_reason'] = df_test['reassignment_reason'].replace(('Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket','Reassignment Request from SE portal.','Reassign','0'),(3,2,1,0))

In [58]:
df_test['reassignment_reason'].value_counts()

0    140209
3      2593
2      1582
1       460
Name: reassignment_reason, dtype: int64

In [59]:
pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 282 kB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [60]:
df_test['reassignment_method'].value_counts()

auto      4531
manual     101
Name: reassignment_method, dtype: int64

In [61]:
df['reassignment_method'] = df['reassignment_method'].replace(np.nan, 0)
df_test['reassignment_method'] = df_test['reassignment_method'].replace(np.nan, 0)

In [62]:
df['reassignment_method'] = df['reassignment_method'].replace(('auto','manual','0'),(2,1,0))
df_test['reassignment_method'] = df_test['reassignment_method'].replace(('auto','manual','0'),(2,1,0))

In [63]:
df['total_distance'] = df['first_mile_distance'] + df['last_mile_distance']
df_test['total_distance'] = df_test['first_mile_distance'] + df_test['last_mile_distance']

In [64]:
df.columns

Index(['order_date', 'rider_id', 'first_mile_distance', 'last_mile_distance',
       'alloted_orders', 'delivered_orders', 'cancelled', 'undelivered_orders',
       'lifetime_order_count', 'reassignment_method', 'reassignment_reason',
       'reassigned_order', 'session_time', 'cancelled_time', 'accept_sec',
       'order_sec', 'month', 'day', 'total_distance'],
      dtype='object')

In [65]:
df.head()

  order_date  rider_id  first_mile_distance  ...  month  day  total_distance
0 2021-01-26     11696               1.5666  ...      1   26          4.2166
1 2021-01-26     18117               2.5207  ...      1   26          5.2807
2 2021-01-26     18623               2.2074  ...      1   26          7.0074
3 2021-01-26     15945               2.1894  ...      1   26          8.5694
4 2021-01-26     17589               2.7870  ...      1   26          6.7970

[5 rows x 19 columns]

In [66]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method          0
reassignment_reason          0
reassigned_order        436247
session_time              3675
cancelled_time          444782
accept_sec                 157
order_sec                  157
month                        0
day                          0
total_distance               0
dtype: int64

In [67]:
df = df[pd.notnull(df['delivered_orders'])]

In [68]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
cancelled_time          428296
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
dtype: int64

In [69]:
df_test.shape

(144844, 17)

In [70]:
df_test.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders            4773
delivered_orders          4884
undelivered_orders        4884
lifetime_order_count       778
reassignment_method          0
reassignment_reason          0
reassigned_order        140209
session_time              5054
accept_sec                  68
order_sec                   68
month                        0
day                          0
total_distance               0
dtype: int64

In [71]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
cancelled_time          428296
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
dtype: int64

In [72]:
df['delivery_success'] = (df['delivered_orders']/df['alloted_orders'])
df_test['delivery_success'] = (df_test['delivered_orders']/df_test['alloted_orders'])

In [73]:
df['delivery_success'].value_counts()

1.000000    232686
0.980000      1184
0.977778      1145
0.981818      1139
0.982143      1138
             ...
0.967105         1
0.978799         1
0.908046         1
0.428571         1
0.997260         1
Name: delivery_success, Length: 1334, dtype: int64

In [74]:
df = df.drop(['order_date'], axis=1)
df_test = df_test.drop(['order_date'], axis=1)

In [75]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 19 columns]

In [76]:
df_test.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     12884               1.6585  ...          6.1985          0.995370
1      3541               2.0709  ...          7.9109          1.000000
2       603               1.3884  ...          2.3784          1.000000
3      3414               1.9039  ...          4.4939          0.976000
4      1426               0.8275  ...          1.7675          0.994318

[5 rows x 17 columns]

In [77]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 19 columns]

In [78]:
df_test.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     12884               1.6585  ...          6.1985          0.995370
1      3541               2.0709  ...          7.9109          1.000000
2       603               1.3884  ...          2.3784          1.000000
3      3414               1.9039  ...          4.4939          0.976000
4      1426               0.8275  ...          1.7675          0.994318

[5 rows x 17 columns]

In [79]:
df = df.drop(['cancelled_time'], axis=1)

In [80]:
df.isnull().sum()

rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
delivery_success             0
dtype: int64

In [81]:
df['reassigned_order'].value_counts()

1.0    13266
Name: reassigned_order, dtype: int64

In [82]:
df_test['reassigned_order'] = df_test['reassigned_order'].replace(np.nan, 0)
df['reassigned_order'] = df['reassigned_order'].replace(np.nan, 0)

In [83]:
df['session_time'].value_counts()

0.066667      143
0.033333      135
0.116667      122
0.150000      122
0.050000      121
             ...
524.016667      1
73.850000       1
801.716667      1
617.116667      1
278.750000      1
Name: session_time, Length: 65405, dtype: int64

In [84]:

df['session_time'] = df['session_time'].replace(np.nan,0)
df_test['session_time'] = df_test['session_time'].replace(np.nan,0)

In [85]:
df['accept_sec'].value_counts()

 7.0       11761
 6.0       11692
 8.0       11462
 9.0       10823
 5.0       10322
           ...
-3341.0        1
-2124.0        1
-4091.0        1
-3324.0        1
-20.0          1
Name: accept_sec, Length: 925, dtype: int64

In [86]:
df.shape

(432659, 18)

In [87]:
df_test['order_sec'] = df_test['order_sec'].replace(np.nan, 0)
df['order_sec'] = df['order_sec'].replace(np.nan, 0)

In [88]:
df.isnull().sum()

rider_id                  0
first_mile_distance       0
last_mile_distance        0
alloted_orders            0
delivered_orders          0
cancelled                 0
undelivered_orders        0
lifetime_order_count      0
reassignment_method       0
reassignment_reason       0
reassigned_order          0
session_time              0
accept_sec              139
order_sec                 0
month                     0
day                       0
total_distance            0
delivery_success          0
dtype: int64

In [89]:

df['accept_sec'] = df['accept_sec'].fillna(0)

In [90]:

df_test['accept_sec'] = df_test['accept_sec'].fillna(0)

In [91]:
df.isnull().sum()

rider_id                0
first_mile_distance     0
last_mile_distance      0
alloted_orders          0
delivered_orders        0
cancelled               0
undelivered_orders      0
lifetime_order_count    0
reassignment_method     0
reassignment_reason     0
reassigned_order        0
session_time            0
accept_sec              0
order_sec               0
month                   0
day                     0
total_distance          0
delivery_success        0
dtype: int64

In [92]:
df_test.isnull().sum()

rider_id                   0
first_mile_distance        0
last_mile_distance         0
alloted_orders          4773
delivered_orders        4884
undelivered_orders      4884
lifetime_order_count     778
reassignment_method        0
reassignment_reason        0
reassigned_order           0
session_time               0
accept_sec                 0
order_sec                  0
month                      0
day                        0
total_distance             0
delivery_success        4884
dtype: int64

In [93]:
df.describe()

            rider_id  first_mile_distance  ...  total_distance  delivery_success
count  432659.000000        432659.000000  ...   432659.000000     432659.000000
mean     7626.979559             1.230589  ...        4.203484          0.991057
std      5521.688329             0.845893  ...        2.165684          0.023458
min         0.000000             0.000134  ...        0.003224          0.166667
25%      2733.000000             0.541000  ...        2.523100          0.988764
50%      6590.000000             1.139600  ...        3.981100          1.000000
75%     11722.000000             1.853200  ...        5.604500          1.000000
max     21566.000000            42.038100  ...       45.828100          1.000000

[8 rows x 18 columns]

In [94]:
df_test.shape

(144844, 17)

In [95]:
df_test['alloted_orders'] = df_test['alloted_orders'].replace(np.nan, 0)

In [96]:
df_test['delivery_success'] = df_test['delivery_success'].replace(np.nan, 0)

In [97]:
df_test['lifetime_order_count'] = df_test['lifetime_order_count'].replace(np.nan, 0)

In [98]:
df_test.isnull().sum()

rider_id                   0
first_mile_distance        0
last_mile_distance         0
alloted_orders             0
delivered_orders        4884
undelivered_orders      4884
lifetime_order_count       0
reassignment_method        0
reassignment_reason        0
reassigned_order           0
session_time               0
accept_sec                 0
order_sec                  0
month                      0
day                        0
total_distance             0
delivery_success           0
dtype: int64

In [99]:
df_test['delivered_orders'] = df_test['delivered_orders'].replace(np.nan, 0)
df['undelivered_orders'] = df['undelivered_orders'].replace(np.nan, 0)

In [100]:
df.shape

(432659, 18)

In [101]:
df_test.shape

(144844, 17)

In [102]:
df.head(10)

    rider_id  first_mile_distance  ...  total_distance  delivery_success
0      11696             1.566600  ...        4.216600          1.000000
1      18117             2.520700  ...        5.280700          1.000000
2      18623             2.207400  ...        7.007400          1.000000
3      15945             2.189400  ...        8.569400          1.000000
4      17589             2.787000  ...        6.797000          1.000000
5       1469             2.481800  ...        7.661800          0.993243
6       8851             2.809100  ...        6.209100          1.000000
7       8493             0.025681  ...        0.185681          0.981481
8      11543             2.444200  ...        5.304200          1.000000
10      8795             1.393000  ...        4.703000          1.000000

[10 rows x 18 columns]

In [103]:
df.describe()

            rider_id  first_mile_distance  ...  total_distance  delivery_success
count  432659.000000        432659.000000  ...   432659.000000     432659.000000
mean     7626.979559             1.230589  ...        4.203484          0.991057
std      5521.688329             0.845893  ...        2.165684          0.023458
min         0.000000             0.000134  ...        0.003224          0.166667
25%      2733.000000             0.541000  ...        2.523100          0.988764
50%      6590.000000             1.139600  ...        3.981100          1.000000
75%     11722.000000             1.853200  ...        5.604500          1.000000
max     21566.000000            42.038100  ...       45.828100          1.000000

[8 rows x 18 columns]

In [104]:
df.shape

(432659, 18)

In [105]:
df_test.shape

(144844, 17)

In [106]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
int64
Data type of reassignment_reason column of Dataframe :
int64
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of accept_sec column of Dataframe :
float64
Data type of order_sec column of Dataframe :
float64
Data type of month column of Dataframe :
int64
Data type of day column of Dataframe :
int64
Data type of total_distance column of Dataframe :
float64
Data type of delivery_success column of Dataframe :
float64

In [107]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 18 columns]

In [108]:
df = df.drop(['rider_id'],axis =1)
df_test = df_test.drop(['rider_id'],axis =1)

In [109]:
df.isnull().sum()

first_mile_distance     0
last_mile_distance      0
alloted_orders          0
delivered_orders        0
cancelled               0
undelivered_orders      0
lifetime_order_count    0
reassignment_method     0
reassignment_reason     0
reassigned_order        0
session_time            0
accept_sec              0
order_sec               0
month                   0
day                     0
total_distance          0
delivery_success        0
dtype: int64

In [110]:
column_names_pred = ['first_mile_distance','last_mile_distance','alloted_orders','delivered_orders','undelivered_orders','lifetime_order_count','reassignment_method','reassignment_reason','reassigned_order','session_time','accept_sec','order_sec','total_distance','reassigned_order','month','day','delivery_success','cancelled']

In [111]:
column_names_predtest = ['first_mile_distance','last_mile_distance','alloted_orders','delivered_orders','undelivered_orders','lifetime_order_count','reassignment_method','reassignment_reason','reassigned_order','session_time','accept_sec','order_sec','total_distance','reassigned_order','month','day','delivery_success']

In [112]:
len(column_names_predtest)

17

In [113]:
df= df.reindex(columns=column_names_pred)

In [114]:
df_test = df_test.reindex(columns = column_names_predtest)

In [115]:
df_test.head()

   first_mile_distance  last_mile_distance  ...  day  delivery_success
0               1.6585                4.54  ...    6          0.995370
1               2.0709                5.84  ...    6          1.000000
2               1.3884                0.99  ...    6          1.000000
3               1.9039                2.59  ...    6          0.976000
4               0.8275                0.94  ...    6          0.994318

[5 rows x 17 columns]

In [116]:
X = df.drop('cancelled',axis='columns')
y = df.cancelled.astype(np.float32)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [117]:
y_train.value_counts()

0.0    342637
1.0      3490
Name: cancelled, dtype: int64

In [118]:
df.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0               1.5666                2.65  ...               1.0          0
1               2.5207                2.76  ...               1.0          0
2               2.2074                4.80  ...               1.0          0
3               2.1894                6.38  ...               1.0          0
4               2.7870                4.01  ...               1.0          0

[5 rows x 18 columns]

In [119]:
df.describe()

       first_mile_distance  last_mile_distance  ...  delivery_success      cancelled
count        432659.000000       432659.000000  ...     432659.000000  432659.000000
mean              1.230589            2.972894  ...          0.991057       0.010084
std               0.845893            1.886151  ...          0.023458       0.099912
min               0.000134            0.000000  ...          0.166667       0.000000
25%               0.541000            1.470000  ...          0.988764       0.000000
50%               1.139600            2.670000  ...          1.000000       0.000000
75%               1.853200            4.230000  ...          1.000000       0.000000
max              42.038100           22.410000  ...          1.000000       1.000000

[8 rows x 18 columns]

In [120]:
cols_to_scale = ['first_mile_distance','last_mile_distance','delivered_orders','undelivered_orders','lifetime_order_count','session_time','accept_sec','order_sec','total_distance','day']

#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler()
#df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
#df_test[cols_to_scale] = scaler.fit_transform(df_test[cols_to_scale])

In [121]:
!pip install tensorflow_addons
from tensorflow_addons import losses


import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

Collecting tensorflow_addons
  Downloading tensorflow_addons-0.15.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 5.4 MB/s
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow_addons) (2.7.1)
Installing collected packages: tensorflow-addons
Successfully installed tensorflow-addons-0.15.0

In [122]:
djfslsl

NameError: ignored

Over Sample

In [123]:
count_class_0, count_class_1 = df.cancelled.value_counts()

# Divide by class
df_class_0 = df[df['cancelled'] == 0]
df_class_1 = df[df['cancelled'] == 1]

In [124]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over.cancelled.value_counts())

Random over-sampling:
0    428296
1    428296
Name: cancelled, dtype: int64

In [125]:
df_test_over.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0               1.5666                2.65  ...               1.0          0
1               2.5207                2.76  ...               1.0          0
2               2.2074                4.80  ...               1.0          0
3               2.1894                6.38  ...               1.0          0
4               2.7870                4.01  ...               1.0          0

[5 rows x 18 columns]

In [126]:
duplicate_columns = df_test_over.columns[df_test_over.columns.duplicated()]

duplicate_columns

Index(['reassigned_order'], dtype='object')

In [127]:
df_test_over = df_test_over.loc[:,~df_test_over.columns.duplicated()]

In [128]:
df_test_over.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0               1.5666                2.65  ...               1.0          0
1               2.5207                2.76  ...               1.0          0
2               2.2074                4.80  ...               1.0          0
3               2.1894                6.38  ...               1.0          0
4               2.7870                4.01  ...               1.0          0

[5 rows x 17 columns]

In [129]:
X = df_test_over.drop('cancelled',axis='columns')
y = df_test_over['cancelled']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [150]:
df_test_over.shape

(856592, 17)

In [130]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=15)
preds = model.fit(X_train, y_train).predict(X_test)

In [131]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, preds)

0.9590824188652813

In [132]:
print("Classification Report: \n", classification_report(y_test,preds))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.92      0.96     85660
           1       0.92      1.00      0.96     85659

    accuracy                           0.96    171319
   macro avg       0.96      0.96      0.96    171319
weighted avg       0.96      0.96      0.96    171319

In [149]:
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential

In [153]:
model = Sequential()

# layers
model.add(Dense(units = 16, kernel_initializer = 'uniform', activation = 'relu', input_dim = 16))
model.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.25))
model.add(Dense(units = 4, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.5))
model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Train the ANN
model.fit(X_train, y_train, batch_size = 32, epochs = 50, validation_split=0.2)

Epoch 1/50
17132/17132 [==============================] - 39s 2ms/step - loss: 0.6526 - accuracy: 0.6178 - val_loss: 0.6235 - val_accuracy: 0.6502
Epoch 2/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6435 - accuracy: 0.6332 - val_loss: 0.6136 - val_accuracy: 0.6580
Epoch 3/50
17132/17132 [==============================] - 36s 2ms/step - loss: 0.6392 - accuracy: 0.6399 - val_loss: 0.6101 - val_accuracy: 0.6648
Epoch 4/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6376 - accuracy: 0.6407 - val_loss: 0.6118 - val_accuracy: 0.6580
Epoch 5/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6369 - accuracy: 0.6422 - val_loss: 0.6066 - val_accuracy: 0.6663
Epoch 6/50
17132/17132 [==============================] - 36s 2ms/step - loss: 0.6359 - accuracy: 0.6428 - val_loss: 0.6035 - val_accuracy: 0.6687
Epoch 7/50
17132/17132 [==============================] - 36s 2ms/step - loss: 0.6360 - accuracy: 0.6424 - val_loss: 0.6069 - val_accuracy: 0.6639
Epoch 8/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6353 - accuracy: 0.6433 - val_loss: 0.6042 - val_accuracy: 0.6712
Epoch 9/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6351 - accuracy: 0.6442 - val_loss: 0.5984 - val_accuracy: 0.6666
Epoch 10/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6348 - accuracy: 0.6436 - val_loss: 0.6021 - val_accuracy: 0.6679
Epoch 11/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6348 - accuracy: 0.6443 - val_loss: 0.6001 - val_accuracy: 0.6705
Epoch 12/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6344 - accuracy: 0.6445 - val_loss: 0.5938 - val_accuracy: 0.6702
Epoch 13/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6344 - accuracy: 0.6447 - val_loss: 0.6001 - val_accuracy: 0.6682
Epoch 14/50
17132/17132 [==============================] - 33s 2ms/step - loss: 0.6346 - accuracy: 0.6446 - val_loss: 0.5973 - val_accuracy: 0.6708
Epoch 15/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6341 - accuracy: 0.6455 - val_loss: 0.6022 - val_accuracy: 0.6569
Epoch 16/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6336 - accuracy: 0.6459 - val_loss: 0.6012 - val_accuracy: 0.6726
Epoch 17/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6329 - accuracy: 0.6466 - val_loss: 0.5970 - val_accuracy: 0.6707
Epoch 18/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6337 - accuracy: 0.6456 - val_loss: 0.6032 - val_accuracy: 0.6673
Epoch 19/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6333 - accuracy: 0.6458 - val_loss: 0.6003 - val_accuracy: 0.6680
Epoch 20/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6333 - accuracy: 0.6455 - val_loss: 0.6014 - val_accuracy: 0.6722
Epoch 21/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6336 - accuracy: 0.6457 - val_loss: 0.6028 - val_accuracy: 0.6654
Epoch 22/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6334 - accuracy: 0.6463 - val_loss: 0.6073 - val_accuracy: 0.6699
Epoch 23/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6332 - accuracy: 0.6459 - val_loss: 0.6028 - val_accuracy: 0.6685
Epoch 24/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6330 - accuracy: 0.6468 - val_loss: 0.5973 - val_accuracy: 0.6721
Epoch 25/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6333 - accuracy: 0.6464 - val_loss: 0.6024 - val_accuracy: 0.6707
Epoch 26/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6325 - accuracy: 0.6472 - val_loss: 0.5992 - val_accuracy: 0.6663
Epoch 27/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6328 - accuracy: 0.6464 - val_loss: 0.5944 - val_accuracy: 0.6709
Epoch 28/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6334 - accuracy: 0.6470 - val_loss: 0.5988 - val_accuracy: 0.6703
Epoch 29/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6327 - accuracy: 0.6475 - val_loss: 0.5990 - val_accuracy: 0.6704
Epoch 30/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6326 - accuracy: 0.6471 - val_loss: 0.5998 - val_accuracy: 0.6717
Epoch 31/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6325 - accuracy: 0.6474 - val_loss: 0.6015 - val_accuracy: 0.6681
Epoch 32/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6322 - accuracy: 0.6479 - val_loss: 0.5980 - val_accuracy: 0.6724
Epoch 33/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6326 - accuracy: 0.6472 - val_loss: 0.6038 - val_accuracy: 0.6727
Epoch 34/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6327 - accuracy: 0.6472 - val_loss: 0.5942 - val_accuracy: 0.6737
Epoch 35/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6325 - accuracy: 0.6467 - val_loss: 0.6036 - val_accuracy: 0.6686
Epoch 36/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6318 - accuracy: 0.6480 - val_loss: 0.5971 - val_accuracy: 0.6699
Epoch 37/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6323 - accuracy: 0.6483 - val_loss: 0.5966 - val_accuracy: 0.6708
Epoch 38/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6325 - accuracy: 0.6489 - val_loss: 0.5961 - val_accuracy: 0.6708
Epoch 39/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6322 - accuracy: 0.6484 - val_loss: 0.6032 - val_accuracy: 0.6714
Epoch 40/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6321 - accuracy: 0.6477 - val_loss: 0.6014 - val_accuracy: 0.6672
Epoch 41/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6325 - accuracy: 0.6478 - val_loss: 0.5988 - val_accuracy: 0.6726
Epoch 42/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6313 - accuracy: 0.6489 - val_loss: 0.5971 - val_accuracy: 0.6723
Epoch 43/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6323 - accuracy: 0.6471 - val_loss: 0.6068 - val_accuracy: 0.6648
Epoch 44/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6323 - accuracy: 0.6472 - val_loss: 0.5991 - val_accuracy: 0.6721
Epoch 45/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6319 - accuracy: 0.6477 - val_loss: 0.5995 - val_accuracy: 0.6716
Epoch 46/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6320 - accuracy: 0.6484 - val_loss: 0.5978 - val_accuracy: 0.6728
Epoch 47/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6315 - accuracy: 0.6486 - val_loss: 0.5959 - val_accuracy: 0.6741
Epoch 48/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6316 - accuracy: 0.6485 - val_loss: 0.5984 - val_accuracy: 0.6736
Epoch 49/50
17132/17132 [==============================] - 35s 2ms/step - loss: 0.6325 - accuracy: 0.6478 - val_loss: 0.6017 - val_accuracy: 0.6708
Epoch 50/50
17132/17132 [==============================] - 34s 2ms/step - loss: 0.6325 - accuracy: 0.6485 - val_loss: 0.5958 - val_accuracy: 0.6728

In [ ]:
y_train.value_counts()

In [ ]:
model = keras.Sequential([
        keras.layers.Dense(17, input_dim=17, activation='relu'),
        keras.layers.Dense(12, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=16,batch_size=32)

In [154]:
y_preds2 = model.predict(X_test)
y_preds2 = np.round(y_preds2)

In [155]:
print("Classification Report: \n", classification_report(y_test, y_preds2))

Classification Report:
               precision    recall  f1-score   support

           0       0.64      0.79      0.71     85660
           1       0.73      0.56      0.63     85659

    accuracy                           0.67    171319
   macro avg       0.68      0.67      0.67    171319
weighted avg       0.68      0.67      0.67    171319

In [156]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, y_preds2)

0.6728260352392232

In [ ]:
fhslslls

under sample

In [ ]:
X = df.drop('cancelled',axis='columns')
y = df['cancelled']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
y.value_counts()

In [ ]:
no_frauds = len(df[df['cancelled'] == 1])

In [ ]:
non_fraud_indices = df[df.cancelled == 0].index

In [ ]:
random_indices = np.random.choice(non_fraud_indices,no_frauds, replace=False)

In [ ]:
fraud_indices = df[df.cancelled == 1].index

In [ ]:
under_sample_indices = np.concatenate([fraud_indices,random_indices])

under_sample = df.loc[under_sample_indices]

In [ ]:
len(under_sample)

In [ ]:
X_under = under_sample.loc[:,under_sample.columns != 'cancelled']
y_under = under_sample.loc[:,under_sample.columns == 'cancelled']
X_under_train, X_under_test, y_under_train, y_under_test = train_test_split(X_under,y_under,test_size = 0.3, random_state = 0)

In [ ]:
len(X_under_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

dt.fit(X_under_train,y_under_train)

In [ ]:
y_preds2 = dt.predict(X_under_test)

In [ ]:
print(y_preds2)

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_under_test, y_preds2)

In [ ]:
model = keras.Sequential([
        keras.layers.Dense(17, input_dim=17, activation='relu'),
        keras.layers.Dense(12, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_under_train, y_under_train, epochs=100)

In [ ]:
 y_preds = model.predict(X_under_test)
y_preds = np.round(y_preds)

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_under_test, y_preds)

In [ ]:
import xgboost as xgb

xgb_cl = xgb.XGBClassifier()

In [ ]:
X = df.drop('cancelled',axis='columns')
y = df['cancelled']
X= np.array(X)
y = np.array(y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
df_test.head()

In [ ]:
df_test.head()

In [ ]:
df.isnull().sum()

In [133]:
df_test.isnull().sum()

first_mile_distance        0
last_mile_distance         0
alloted_orders             0
delivered_orders           0
undelivered_orders      4884
lifetime_order_count       0
reassignment_method        0
reassignment_reason        0
reassigned_order           0
session_time               0
accept_sec                 0
order_sec                  0
total_distance             0
reassigned_order           0
month                      0
day                        0
delivery_success           0
dtype: int64

In [134]:
df_test['undelivered_orders'] = df_test['undelivered_orders'].replace(np.nan, 0)

In [135]:
df_test = df_test.loc[:,~df_test.columns.duplicated()]

In [136]:
len(column_names_pred)

18

In [137]:
len(column_names_predtest)

17

In [138]:
X_sub = df_test.iloc[:, :].values

In [141]:
df_test_over.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0               1.5666                2.65  ...               1.0          0
1               2.5207                2.76  ...               1.0          0
2               2.2074                4.80  ...               1.0          0
3               2.1894                6.38  ...               1.0          0
4               2.7870                4.01  ...               1.0          0

[5 rows x 17 columns]

In [142]:
df_test.head()

   first_mile_distance  last_mile_distance  ...  day  delivery_success
0               1.6585                4.54  ...    6          0.995370
1               2.0709                5.84  ...    6          1.000000
2               1.3884                0.99  ...    6          1.000000
3               1.9039                2.59  ...    6          0.976000
4               0.8275                0.94  ...    6          0.994318

[5 rows x 16 columns]

In [139]:
for col in df_test.columns:  
    dataTypeSeries = df_test[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
int64
Data type of reassignment_reason column of Dataframe :
int64
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of accept_sec column of Dataframe :
float64
Data type of order_sec column of Dataframe :
float64
Data type of total_distance column of Dataframe :
float64
Data type of month column of Dataframe :
int64
Data type of day column of Dataframe :
int64
Data type of delivery_success column of Dataframe :
float64

In [157]:
y_final = model.predict(X_sub)

In [158]:
y_final = np.round(y_final)

In [159]:
print(y_final)

[[0.]
 [1.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]

In [160]:
df_submit = pd.DataFrame(y_final, columns = ['cancelled'])
df_submit.to_csv('final.csv', index=False)