<a href="https://colab.research.google.com/github/sameersahu473/comp1/blob/main/final2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [187]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [188]:
! cp kaggle.json ~/.kaggle/

In [189]:
! chmod 600 ~/.kaggle/kaggle.json

In [190]:
!kaggle competitions download -c cascade-cup-22

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
sample_submission.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [191]:
!unzip train.csv.zip

Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [192]:
!unzip test.csv.zip

Archive:  test.csv.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv

In [193]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [194]:
from sklearn import model_selection, metrics
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

In [195]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [196]:
df_test.head()

            order_time  order_id  ... reassigned_order session_time
0  2021-02-06 10:03:24    130231  ...              NaN   273.400000
1  2021-02-06 10:03:26    130232  ...              NaN   252.100000
2  2021-02-06 10:03:27    130233  ...              NaN   241.383333
3  2021-02-06 10:03:29    130234  ...              NaN   291.933333
4  2021-02-06 10:03:35    130235  ...              NaN   247.133333

[5 rows x 16 columns]

In [197]:
df.shape

(450000, 20)

In [198]:
df.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [199]:
df.head()

            order_time  order_id  ... session_time cancelled_time
0  2021-01-26 02:21:35    556753  ...          NaN            NaN
1  2021-01-26 02:33:16    556754  ...     3.266667            NaN
2  2021-01-26 02:39:49    556755  ...     9.816667            NaN
3  2021-01-26 02:47:53    556756  ...    17.533333            NaN
4  2021-01-26 03:06:30    556757  ...     1.350000            NaN

[5 rows x 20 columns]

In [200]:
df_test.shape

(144844, 16)

In [201]:
df_test.size

2317504

In [202]:
df['rider_id'].value_counts()

237      228
190      213
11998    209
170      203
853      200
        ...
9339       1
20693      1
16603      1
20692      1
4895       1
Name: rider_id, Length: 19537, dtype: int64

In [203]:
df.shape

(450000, 20)

In [204]:
df.isnull().sum()

order_time                   0
order_id                     0
order_date                   0
allot_time                   0
accept_time                157
pickup_time               2421
delivered_time            5218
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
dtype: int64

In [205]:
df = df.drop(columns=['order_id','pickup_time','delivered_time'],axis =1)

In [206]:
df.head()

            order_time           order_date  ... session_time cancelled_time
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ...          NaN            NaN
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ...     3.266667            NaN
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ...     9.816667            NaN
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ...    17.533333            NaN
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ...     1.350000            NaN

[5 rows x 17 columns]

In [207]:
df_test = df_test.drop(['order_id'],axis=1)

In [208]:
df.isnull().sum()

order_time                   0
order_date                   0
allot_time                   0
accept_time                157
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
dtype: int64

In [209]:
df['cancelled'].value_counts()

0    444782
1      5218
Name: cancelled, dtype: int64

In [210]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
object
Data type of accept_time column of Dataframe :
object
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object

In [211]:
#creating the datetime column
df['allot_time'] = pd.to_datetime(df['allot_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['allot_time'] = pd.to_datetime(df_test['allot_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [212]:
df['accept_time'] = pd.to_datetime(df['accept_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['accept_time'] = pd.to_datetime(df_test['accept_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [213]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
datetime64[ns]
Data type of accept_time column of Dataframe :
datetime64[ns]
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object

In [214]:
df['accept_to_allot'] = (df['accept_time'] - df['allot_time'])
df_test['accept_to_allot'] = (df_test['accept_time'] - df_test['allot_time'])

In [215]:
df.head()

            order_time           order_date  ... cancelled_time accept_to_allot
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ...            NaN 0 days 00:00:09
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ...            NaN 0 days 00:00:48
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ...            NaN 0 days 00:00:16
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ...            NaN 0 days 00:00:41
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ...            NaN 0 days 00:00:36

[5 rows x 18 columns]

In [216]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of order_time column of Dataframe :
object
Data type of order_date column of Dataframe :
object
Data type of allot_time column of Dataframe :
datetime64[ns]
Data type of accept_time column of Dataframe :
datetime64[ns]
Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
object
Data type of reassignment_reason column of Dataframe :
object
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of cancelled_time column of Dataframe :
object
Data type of accept_to_allot column of Dataframe :
timedelta64[ns]

In [217]:
df.shape

(450000, 18)

In [218]:
df['accept_sec'] = df[:450000]['accept_to_allot'].astype('timedelta64[s]')
df_test['accept_sec'] = df_test[:450000]['accept_to_allot'].astype('timedelta64[s]')

In [219]:
df.head()

            order_time           order_date  ... accept_to_allot accept_sec
0  2021-01-26 02:21:35  2021-01-26 00:00:00  ... 0 days 00:00:09        9.0
1  2021-01-26 02:33:16  2021-01-26 00:00:00  ... 0 days 00:00:48       48.0
2  2021-01-26 02:39:49  2021-01-26 00:00:00  ... 0 days 00:00:16       16.0
3  2021-01-26 02:47:53  2021-01-26 00:00:00  ... 0 days 00:00:41       41.0
4  2021-01-26 03:06:30  2021-01-26 00:00:00  ... 0 days 00:00:36       36.0

[5 rows x 19 columns]

In [220]:
df_test.head()

            order_time           order_date  ... accept_to_allot accept_sec
0  2021-02-06 10:03:24  2021-02-06 00:00:00  ... 0 days 00:00:26       26.0
1  2021-02-06 10:03:26  2021-02-06 00:00:00  ... 0 days 00:00:09        9.0
2  2021-02-06 10:03:27  2021-02-06 00:00:00  ... 0 days 00:01:20       80.0
3  2021-02-06 10:03:29  2021-02-06 00:00:00  ... 0 days 00:00:23       23.0
4  2021-02-06 10:03:35  2021-02-06 00:00:00  ... 0 days 00:01:00       60.0

[5 rows x 17 columns]

In [221]:
#creating the datetime column
df['order_time'] = pd.to_datetime(df['order_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['order_time'] = pd.to_datetime(df_test['order_time'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [222]:
df['order_to_allot'] = (df['accept_time'] - df['order_time'])
df_test['order_to_allot'] = (df_test['accept_time'] - df_test['order_time'])

In [223]:
df['order_sec'] = df[:450000]['order_to_allot'].astype('timedelta64[s]')
df_test['order_sec'] = df_test[:450000]['order_to_allot'].astype('timedelta64[s]')

In [224]:
df.head()

           order_time           order_date  ...  order_to_allot order_sec
0 2021-01-26 02:21:35  2021-01-26 00:00:00  ... 0 days 00:00:33      33.0
1 2021-01-26 02:33:16  2021-01-26 00:00:00  ... 0 days 00:01:29      89.0
2 2021-01-26 02:39:49  2021-01-26 00:00:00  ... 0 days 00:00:24      24.0
3 2021-01-26 02:47:53  2021-01-26 00:00:00  ... 0 days 00:01:13      73.0
4 2021-01-26 03:06:30  2021-01-26 00:00:00  ... 0 days 00:01:27      87.0

[5 rows x 21 columns]

In [225]:
df_test = df_test.drop(['order_time','allot_time','accept_time','accept_to_allot','order_to_allot'],axis=1)
df= df.drop(['order_time','allot_time','accept_time','accept_to_allot','order_to_allot'],axis=1)

In [226]:
df['order_date'] = pd.to_datetime(df['order_date'].str.strip(), format='%Y/%m/%d %H:%M:%S')
df_test['order_date'] = pd.to_datetime(df_test['order_date'].str.strip(), format='%Y/%m/%d %H:%M:%S')

In [227]:

df['month'] = pd.DatetimeIndex(df['order_date']).month



df_test['month'] = pd.DatetimeIndex(df_test['order_date']).month

In [228]:

df['day'] = pd.DatetimeIndex(df['order_date']).day



df_test['day'] = pd.DatetimeIndex(df_test['order_date']).day

In [229]:
df.head()

  order_date  rider_id  first_mile_distance  ...  order_sec  month  day
0 2021-01-26     11696               1.5666  ...       33.0      1   26
1 2021-01-26     18117               2.5207  ...       89.0      1   26
2 2021-01-26     18623               2.2074  ...       24.0      1   26
3 2021-01-26     15945               2.1894  ...       73.0      1   26
4 2021-01-26     17589               2.7870  ...       87.0      1   26

[5 rows x 18 columns]

In [230]:
df.columns

Index(['order_date', 'rider_id', 'first_mile_distance', 'last_mile_distance',
       'alloted_orders', 'delivered_orders', 'cancelled', 'undelivered_orders',
       'lifetime_order_count', 'reassignment_method', 'reassignment_reason',
       'reassigned_order', 'session_time', 'cancelled_time', 'accept_sec',
       'order_sec', 'month', 'day'],
      dtype='object')

In [231]:
df['reassignment_reason'].value_counts()

Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket    7212
Reassignment Request from SE portal.                                            5300
Reassign                                                                        1241
Name: reassignment_reason, dtype: int64

In [232]:
df_test['reassignment_reason'].value_counts()

Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket    2593
Reassignment Request from SE portal.                                            1582
Reassign                                                                         460
Name: reassignment_reason, dtype: int64

In [233]:
df['reassignment_method'].value_counts()

auto      13383
manual      361
Name: reassignment_method, dtype: int64

In [234]:
df_test['reassignment_method'].value_counts()

auto      4531
manual     101
Name: reassignment_method, dtype: int64

In [235]:
df.dtypes

order_date              datetime64[ns]
rider_id                         int64
first_mile_distance            float64
last_mile_distance             float64
alloted_orders                 float64
delivered_orders               float64
cancelled                        int64
undelivered_orders             float64
lifetime_order_count           float64
reassignment_method             object
reassignment_reason             object
reassigned_order               float64
session_time                   float64
cancelled_time                  object
accept_sec                     float64
order_sec                      float64
month                            int64
day                              int64
dtype: object

In [236]:
num_col = [c for i, c in enumerate(df.columns) if df.dtypes[i] in [np.int, np.float]]
len(num_col)

14

In [237]:
num_col = [c for i, c in enumerate(df.columns) if df.dtypes[i] in [np.object]]
len(num_col)

3

In [238]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method     436256
reassignment_reason     436247
reassigned_order        436247
session_time              3675
cancelled_time          444782
accept_sec                 157
order_sec                  157
month                        0
day                          0
dtype: int64

In [239]:
df_test.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders            4773
delivered_orders          4884
undelivered_orders        4884
lifetime_order_count       778
reassignment_method     140212
reassignment_reason     140209
reassigned_order        140209
session_time              5054
accept_sec                  68
order_sec                   68
month                        0
day                          0
dtype: int64

In [240]:
df['reassignment_reason'] = df['reassignment_reason'].replace(np.nan, 0)

In [241]:
df_test['reassignment_reason'] = df_test['reassignment_reason'].replace(np.nan, 0)

In [242]:
df['reassignment_reason'] = df['reassignment_reason'].replace(('Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket','Reassignment Request from SE portal.','Reassign','0'),(3,2,1,0))
df_test['reassignment_reason'] = df_test['reassignment_reason'].replace(('Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket','Reassignment Request from SE portal.','Reassign','0'),(3,2,1,0))

In [243]:
df_test['reassignment_reason'].value_counts()

0    140209
3      2593
2      1582
1       460
Name: reassignment_reason, dtype: int64

In [244]:
pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

In [245]:
df_test['reassignment_method'].value_counts()

auto      4531
manual     101
Name: reassignment_method, dtype: int64

In [246]:
df['reassignment_method'] = df['reassignment_method'].replace(np.nan, 0)
df_test['reassignment_method'] = df_test['reassignment_method'].replace(np.nan, 0)

In [247]:
df['reassignment_method'] = df['reassignment_method'].replace(('auto','manual','0'),(2,1,0))
df_test['reassignment_method'] = df_test['reassignment_method'].replace(('auto','manual','0'),(2,1,0))

In [248]:
df['total_distance'] = df['first_mile_distance'] + df['last_mile_distance']
df_test['total_distance'] = df_test['first_mile_distance'] + df_test['last_mile_distance']

In [249]:
df.columns

Index(['order_date', 'rider_id', 'first_mile_distance', 'last_mile_distance',
       'alloted_orders', 'delivered_orders', 'cancelled', 'undelivered_orders',
       'lifetime_order_count', 'reassignment_method', 'reassignment_reason',
       'reassigned_order', 'session_time', 'cancelled_time', 'accept_sec',
       'order_sec', 'month', 'day', 'total_distance'],
      dtype='object')

In [250]:
df.head()

  order_date  rider_id  first_mile_distance  ...  month  day  total_distance
0 2021-01-26     11696               1.5666  ...      1   26          4.2166
1 2021-01-26     18117               2.5207  ...      1   26          5.2807
2 2021-01-26     18623               2.2074  ...      1   26          7.0074
3 2021-01-26     15945               2.1894  ...      1   26          8.5694
4 2021-01-26     17589               2.7870  ...      1   26          6.7970

[5 rows x 19 columns]

In [251]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders           16948
delivered_orders         17341
cancelled                    0
undelivered_orders       17341
lifetime_order_count        53
reassignment_method          0
reassignment_reason          0
reassigned_order        436247
session_time              3675
cancelled_time          444782
accept_sec                 157
order_sec                  157
month                        0
day                          0
total_distance               0
dtype: int64

In [252]:
df = df[pd.notnull(df['delivered_orders'])]

In [253]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
cancelled_time          428296
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
dtype: int64

In [254]:
df_test.shape

(144844, 17)

In [255]:
df_test.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders            4773
delivered_orders          4884
undelivered_orders        4884
lifetime_order_count       778
reassignment_method          0
reassignment_reason          0
reassigned_order        140209
session_time              5054
accept_sec                  68
order_sec                   68
month                        0
day                          0
total_distance               0
dtype: int64

In [256]:
df.isnull().sum()

order_date                   0
rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
cancelled_time          428296
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
dtype: int64

In [257]:
df['delivery_success'] = (df['delivered_orders']/df['alloted_orders'])
df_test['delivery_success'] = (df_test['delivered_orders']/df_test['alloted_orders'])

In [258]:
df['delivery_success'].value_counts()

1.000000    232686
0.980000      1184
0.977778      1145
0.981818      1139
0.982143      1138
             ...
0.967105         1
0.978799         1
0.908046         1
0.428571         1
0.997260         1
Name: delivery_success, Length: 1334, dtype: int64

In [259]:
df = df.drop(['order_date'], axis=1)
df_test = df_test.drop(['order_date'], axis=1)

In [260]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 19 columns]

In [261]:
df_test.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     12884               1.6585  ...          6.1985          0.995370
1      3541               2.0709  ...          7.9109          1.000000
2       603               1.3884  ...          2.3784          1.000000
3      3414               1.9039  ...          4.4939          0.976000
4      1426               0.8275  ...          1.7675          0.994318

[5 rows x 17 columns]

In [262]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 19 columns]

In [263]:
df_test.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     12884               1.6585  ...          6.1985          0.995370
1      3541               2.0709  ...          7.9109          1.000000
2       603               1.3884  ...          2.3784          1.000000
3      3414               1.9039  ...          4.4939          0.976000
4      1426               0.8275  ...          1.7675          0.994318

[5 rows x 17 columns]

In [264]:
df = df.drop(['cancelled_time'], axis=1)

In [265]:
df.isnull().sum()

rider_id                     0
first_mile_distance          0
last_mile_distance           0
alloted_orders               0
delivered_orders             0
cancelled                    0
undelivered_orders           0
lifetime_order_count         0
reassignment_method          0
reassignment_reason          0
reassigned_order        419393
session_time              3344
accept_sec                 139
order_sec                  139
month                        0
day                          0
total_distance               0
delivery_success             0
dtype: int64

In [266]:
df['reassigned_order'].value_counts()

1.0    13266
Name: reassigned_order, dtype: int64

In [267]:
df_test['reassigned_order'] = df_test['reassigned_order'].replace(np.nan, 0)
df['reassigned_order'] = df['reassigned_order'].replace(np.nan, 0)

In [268]:
df['session_time'].value_counts()

0.066667      143
0.033333      135
0.116667      122
0.150000      122
0.050000      121
             ...
524.016667      1
73.850000       1
801.716667      1
617.116667      1
278.750000      1
Name: session_time, Length: 65405, dtype: int64

In [269]:

df['session_time'] = df['session_time'].replace(np.nan,0)
df_test['session_time'] = df_test['session_time'].replace(np.nan,0)

In [270]:
df['accept_sec'].value_counts()

 7.0       11761
 6.0       11692
 8.0       11462
 9.0       10823
 5.0       10322
           ...
-3341.0        1
-2124.0        1
-4091.0        1
-3324.0        1
-20.0          1
Name: accept_sec, Length: 925, dtype: int64

In [271]:
df.shape

(432659, 18)

In [272]:
df_test['order_sec'] = df_test['order_sec'].replace(np.nan, 0)
df['order_sec'] = df['order_sec'].replace(np.nan, 0)

In [273]:
df.isnull().sum()

rider_id                  0
first_mile_distance       0
last_mile_distance        0
alloted_orders            0
delivered_orders          0
cancelled                 0
undelivered_orders        0
lifetime_order_count      0
reassignment_method       0
reassignment_reason       0
reassigned_order          0
session_time              0
accept_sec              139
order_sec                 0
month                     0
day                       0
total_distance            0
delivery_success          0
dtype: int64

In [274]:

df['accept_sec'] = df['accept_sec'].fillna(0)

In [275]:

df_test['accept_sec'] = df_test['accept_sec'].fillna(0)

In [276]:
df.isnull().sum()

rider_id                0
first_mile_distance     0
last_mile_distance      0
alloted_orders          0
delivered_orders        0
cancelled               0
undelivered_orders      0
lifetime_order_count    0
reassignment_method     0
reassignment_reason     0
reassigned_order        0
session_time            0
accept_sec              0
order_sec               0
month                   0
day                     0
total_distance          0
delivery_success        0
dtype: int64

In [277]:
df_test.isnull().sum()

rider_id                   0
first_mile_distance        0
last_mile_distance         0
alloted_orders          4773
delivered_orders        4884
undelivered_orders      4884
lifetime_order_count     778
reassignment_method        0
reassignment_reason        0
reassigned_order           0
session_time               0
accept_sec                 0
order_sec                  0
month                      0
day                        0
total_distance             0
delivery_success        4884
dtype: int64

In [278]:
df.describe()

            rider_id  first_mile_distance  ...  total_distance  delivery_success
count  432659.000000        432659.000000  ...   432659.000000     432659.000000
mean     7626.979559             1.230589  ...        4.203484          0.991057
std      5521.688329             0.845893  ...        2.165684          0.023458
min         0.000000             0.000134  ...        0.003224          0.166667
25%      2733.000000             0.541000  ...        2.523100          0.988764
50%      6590.000000             1.139600  ...        3.981100          1.000000
75%     11722.000000             1.853200  ...        5.604500          1.000000
max     21566.000000            42.038100  ...       45.828100          1.000000

[8 rows x 18 columns]

In [279]:
df_test.shape

(144844, 17)

In [280]:
df_test['alloted_orders'] = df_test['alloted_orders'].replace(np.nan, 0)

In [281]:
df_test['delivery_success'] = df_test['delivery_success'].replace(np.nan, 0)

In [282]:
df_test['lifetime_order_count'] = df_test['lifetime_order_count'].replace(np.nan, 0)

In [283]:
df_test.isnull().sum()

rider_id                   0
first_mile_distance        0
last_mile_distance         0
alloted_orders             0
delivered_orders        4884
undelivered_orders      4884
lifetime_order_count       0
reassignment_method        0
reassignment_reason        0
reassigned_order           0
session_time               0
accept_sec                 0
order_sec                  0
month                      0
day                        0
total_distance             0
delivery_success           0
dtype: int64

In [284]:
df_test['delivered_orders'] = df_test['delivered_orders'].replace(np.nan, 0)
df['undelivered_orders'] = df['undelivered_orders'].replace(np.nan, 0)

In [285]:
df.shape

(432659, 18)

In [286]:
df_test.shape

(144844, 17)

In [287]:
df.head(10)

    rider_id  first_mile_distance  ...  total_distance  delivery_success
0      11696             1.566600  ...        4.216600          1.000000
1      18117             2.520700  ...        5.280700          1.000000
2      18623             2.207400  ...        7.007400          1.000000
3      15945             2.189400  ...        8.569400          1.000000
4      17589             2.787000  ...        6.797000          1.000000
5       1469             2.481800  ...        7.661800          0.993243
6       8851             2.809100  ...        6.209100          1.000000
7       8493             0.025681  ...        0.185681          0.981481
8      11543             2.444200  ...        5.304200          1.000000
10      8795             1.393000  ...        4.703000          1.000000

[10 rows x 18 columns]

In [288]:
df.describe()

            rider_id  first_mile_distance  ...  total_distance  delivery_success
count  432659.000000        432659.000000  ...   432659.000000     432659.000000
mean     7626.979559             1.230589  ...        4.203484          0.991057
std      5521.688329             0.845893  ...        2.165684          0.023458
min         0.000000             0.000134  ...        0.003224          0.166667
25%      2733.000000             0.541000  ...        2.523100          0.988764
50%      6590.000000             1.139600  ...        3.981100          1.000000
75%     11722.000000             1.853200  ...        5.604500          1.000000
max     21566.000000            42.038100  ...       45.828100          1.000000

[8 rows x 18 columns]

In [289]:
df.shape

(432659, 18)

In [290]:
df_test.shape

(144844, 17)

In [291]:
for col in df.columns:  
    dataTypeSeries = df[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of rider_id column of Dataframe :
int64
Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of cancelled column of Dataframe :
int64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
int64
Data type of reassignment_reason column of Dataframe :
int64
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of accept_sec column of Dataframe :
float64
Data type of order_sec column of Dataframe :
float64
Data type of month column of Dataframe :
int64
Data type of day column of Dataframe :
int64
Data type of total_distance column of Dataframe :
float64
Data type of delivery_success column of Dataframe :
float64

In [292]:
df.head()

   rider_id  first_mile_distance  ...  total_distance  delivery_success
0     11696               1.5666  ...          4.2166               1.0
1     18117               2.5207  ...          5.2807               1.0
2     18623               2.2074  ...          7.0074               1.0
3     15945               2.1894  ...          8.5694               1.0
4     17589               2.7870  ...          6.7970               1.0

[5 rows x 18 columns]

In [293]:
df = df.drop(['rider_id'],axis =1)
df_test = df_test.drop(['rider_id'],axis =1)

In [294]:
df.isnull().sum()

first_mile_distance     0
last_mile_distance      0
alloted_orders          0
delivered_orders        0
cancelled               0
undelivered_orders      0
lifetime_order_count    0
reassignment_method     0
reassignment_reason     0
reassigned_order        0
session_time            0
accept_sec              0
order_sec               0
month                   0
day                     0
total_distance          0
delivery_success        0
dtype: int64

In [295]:
column_names_pred = ['first_mile_distance','last_mile_distance','alloted_orders','delivered_orders','undelivered_orders','lifetime_order_count','reassignment_method','reassignment_reason','reassigned_order','session_time','accept_sec','order_sec','total_distance','reassigned_order','month','day','delivery_success','cancelled']

In [296]:
column_names_predtest = ['first_mile_distance','last_mile_distance','alloted_orders','delivered_orders','undelivered_orders','lifetime_order_count','reassignment_method','reassignment_reason','reassigned_order','session_time','accept_sec','order_sec','total_distance','reassigned_order','month','day','delivery_success']

In [297]:
len(column_names_predtest)

17

In [298]:
df= df.reindex(columns=column_names_pred)

In [299]:
df_test = df_test.reindex(columns = column_names_predtest)

In [300]:
df_test.head()

   first_mile_distance  last_mile_distance  ...  day  delivery_success
0               1.6585                4.54  ...    6          0.995370
1               2.0709                5.84  ...    6          1.000000
2               1.3884                0.99  ...    6          1.000000
3               1.9039                2.59  ...    6          0.976000
4               0.8275                0.94  ...    6          0.994318

[5 rows x 17 columns]

In [301]:
X = df.drop('cancelled',axis='columns')
y = df.cancelled.astype(np.float32)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [302]:
y_train.value_counts()

0.0    342637
1.0      3490
Name: cancelled, dtype: int64

In [303]:
df.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0               1.5666                2.65  ...               1.0          0
1               2.5207                2.76  ...               1.0          0
2               2.2074                4.80  ...               1.0          0
3               2.1894                6.38  ...               1.0          0
4               2.7870                4.01  ...               1.0          0

[5 rows x 18 columns]

In [304]:
df.describe()

       first_mile_distance  last_mile_distance  ...  delivery_success      cancelled
count        432659.000000       432659.000000  ...     432659.000000  432659.000000
mean              1.230589            2.972894  ...          0.991057       0.010084
std               0.845893            1.886151  ...          0.023458       0.099912
min               0.000134            0.000000  ...          0.166667       0.000000
25%               0.541000            1.470000  ...          0.988764       0.000000
50%               1.139600            2.670000  ...          1.000000       0.000000
75%               1.853200            4.230000  ...          1.000000       0.000000
max              42.038100           22.410000  ...          1.000000       1.000000

[8 rows x 18 columns]

In [305]:
cols_to_scale = ['first_mile_distance','last_mile_distance','alloted_orders','delivered_orders','undelivered_orders','lifetime_order_count','session_time','accept_sec','order_sec','total_distance','day']

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
#df_test[cols_to_scale] = scaler.fit_transform(df_test[cols_to_scale])

In [306]:
!pip install tensorflow_addons
from tensorflow_addons import losses


import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report

Requirement already satisfied: tensorflow_addons in /usr/local/lib/python3.7/dist-packages (0.15.0)
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow_addons) (2.7.1)

In [307]:
djfslsl

NameError: ignored

Over Sample

In [308]:
count_class_0, count_class_1 = df.cancelled.value_counts()

# Divide by class
df_class_0 = df[df['cancelled'] == 0]
df_class_1 = df[df['cancelled'] == 1]

In [309]:
# Oversample 1-class and concat the DataFrames of both classes
df_class_1_over = df_class_1.sample(count_class_0, replace=True)
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

print('Random over-sampling:')
print(df_test_over.cancelled.value_counts())

Random over-sampling:
0    428296
1    428296
Name: cancelled, dtype: int64

In [310]:
df_test_over.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0             0.397226           -0.171192  ...               1.0          0
1             1.525148           -0.112872  ...               1.0          0
2             1.154770            0.968696  ...               1.0          0
3             1.133491            1.806382  ...               1.0          0
4             1.839964            0.549853  ...               1.0          0

[5 rows x 18 columns]

In [311]:
duplicate_columns = df_test_over.columns[df_test_over.columns.duplicated()]

duplicate_columns

Index(['reassigned_order'], dtype='object')

In [312]:
df_test_over = df_test_over.loc[:,~df_test_over.columns.duplicated()]

In [313]:
df_test_over.head()

   first_mile_distance  last_mile_distance  ...  delivery_success  cancelled
0             0.397226           -0.171192  ...               1.0          0
1             1.525148           -0.112872  ...               1.0          0
2             1.154770            0.968696  ...               1.0          0
3             1.133491            1.806382  ...               1.0          0
4             1.839964            0.549853  ...               1.0          0

[5 rows x 17 columns]

In [314]:
X = df_test_over.drop('cancelled',axis='columns')
y = df_test_over['cancelled']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=15, stratify=y)

In [315]:
import lightgbm
from lightgbm import LGBMClassifier

In [316]:
params = {'lambda_l1': 0.001, 'lambda_l2': 0.001,
 'num_leaves': 40, 'feature_fraction': 0.4,
 'subsample': 0.4, 'min_child_samples': 10,
 'learning_rate': 0.01,
 'num_iterations': 700, 'random_state': 42}

In [317]:
 model = LGBMClassifier(resolution = 5,lambda_l1= 0.001, lambda_l2= 0.001,
 num_leaves= 40, feature_fraction= 0.4,
 subsample= 0.4, min_child_samples= 10,
 learning_rate= 0.01,
 num_iterations= 700, random_state= 42 )

In [318]:
preds = model.fit(X_train, y_train).predict(X_test)

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

In [ ]:
from sklearn import svm
svc = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

In [ ]:
preds = svc.predict(X_test)

In [ ]:
gridParams = {
    'learning_rate': [0.005, 0.01],
    'n_estimators': [8,16,24],
    'num_leaves': [6,8,12,16], # large num_leaves helps improve accuracy but might lead to over-fitting
    'boosting_type' : ['gbdt', 'dart'], # for better accuracy -> try dart
    'objective' : ['binary'],
    'max_bin':[255, 510], # large max_bin helps improve accuracy but might slow down training progress
    'random_state' : [500],
    'colsample_bytree' : [0.64, 0.65, 0.66],
    'subsample' : [0.7,0.75],
    'reg_alpha' : [1,1.2],
    'reg_lambda' : [1,1.2,1.4],
    }

In [ ]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(model, gridParams, verbose=1, cv=4, n_jobs=-1)
# Run the grid
grid.fit(X_under_train, y_under_train)

In [ ]:
df_test_over.shape

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=15)
preds = model.fit(X_train, y_train).predict(X_test)

In [320]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, preds)

0.7375067126368795

In [322]:
print("Classification Report: \n", classification_report(y_test,preds))

Classification Report:
               precision    recall  f1-score   support

           0       0.69      0.85      0.76    128489
           1       0.81      0.62      0.70    128489

    accuracy                           0.74    256978
   macro avg       0.75      0.74      0.73    256978
weighted avg       0.75      0.74      0.73    256978

In [ ]:
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential

In [ ]:
model = Sequential()

# layers
model.add(Dense(units = 16, kernel_initializer = 'uniform', activation = 'relu', input_dim = 17))
model.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.25))
model.add(Dense(units = 4, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.5))
model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Train the ANN
model.fit(X_under_train, y_under_train, batch_size = 32, epochs = 128, validation_split=0.2)

In [ ]:
y_train.value_counts()

In [ ]:
model = keras.Sequential([
        keras.layers.Dense(17, input_dim=17, activation='relu'),
        keras.layers.Dense(12, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=16,batch_size=32)

In [ ]:
y_preds2 = model.predict(X_under_test)
y_preds2 = np.round(y_preds2)

In [ ]:
print("Classification Report: \n", classification_report(y_under_test, y_preds2))

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_under_test, y_preds2)

In [ ]:
fhslslls

under sample

In [ ]:
X = df.drop('cancelled',axis='columns')
y = df['cancelled']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
y.value_counts()

In [ ]:
no_frauds = len(df[df['cancelled'] == 1])

In [ ]:
non_fraud_indices = df[df.cancelled == 0].index

In [ ]:
random_indices = np.random.choice(non_fraud_indices,no_frauds, replace=False)

In [ ]:
fraud_indices = df[df.cancelled == 1].index

In [ ]:
under_sample_indices = np.concatenate([fraud_indices,random_indices])

under_sample = df.loc[under_sample_indices]

In [ ]:
len(under_sample)

In [ ]:
X_under = under_sample.loc[:,under_sample.columns != 'cancelled']
y_under = under_sample.loc[:,under_sample.columns == 'cancelled']
X_under_train, X_under_test, y_under_train, y_under_test = train_test_split(X_under,y_under,test_size = 0.3, random_state = 0)

In [ ]:
len(X_under_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

dt.fit(X_under_train,y_under_train)

In [ ]:
y_preds2 = dt.predict(X_under_test)

In [ ]:
print(y_preds2)

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_under_test, y_preds2)

In [ ]:
model = keras.Sequential([
        keras.layers.Dense(17, input_dim=17, activation='relu'),
        keras.layers.Dense(12, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_under_train, y_under_train, epochs=100)

In [ ]:
 y_preds = model.predict(X_under_test)
y_preds = np.round(y_preds)

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_under_test, y_preds)

In [ ]:
import xgboost as xgb

xgb_cl = xgb.XGBClassifier()

In [ ]:
X = df.drop('cancelled',axis='columns')
y = df['cancelled']
X= np.array(X)
y = np.array(y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
df_test.head()

In [ ]:
df_test.head()

In [ ]:
df.isnull().sum()

In [ ]:
df_test.isnull().sum()

In [323]:
df_test['undelivered_orders'] = df_test['undelivered_orders'].replace(np.nan, 0)

In [324]:
df_test = df_test.loc[:,~df_test.columns.duplicated()]

In [ ]:
len(column_names_pred)

In [ ]:
len(column_names_predtest)

In [325]:
X_sub = df_test.iloc[:, :].values

In [ ]:
df_test_over.head()

In [331]:
df_test.head()

   first_mile_distance  last_mile_distance  ...       day  delivery_success
0             0.399344            0.924523  ... -1.538366          0.995370
1             0.882996            1.634109  ... -1.538366          1.000000
2             0.082578           -1.013192  ... -1.538366          1.000000
3             0.687143           -0.139856  ... -1.538366          0.976000
4            -0.575231           -1.040484  ... -1.538366          0.994318

[5 rows x 16 columns]

In [326]:
for col in df_test.columns:  
    dataTypeSeries = df_test[col].dtypes
    print('Data type of '+ col+ ' column of Dataframe :')
    print(dataTypeSeries)

Data type of first_mile_distance column of Dataframe :
float64
Data type of last_mile_distance column of Dataframe :
float64
Data type of alloted_orders column of Dataframe :
float64
Data type of delivered_orders column of Dataframe :
float64
Data type of undelivered_orders column of Dataframe :
float64
Data type of lifetime_order_count column of Dataframe :
float64
Data type of reassignment_method column of Dataframe :
int64
Data type of reassignment_reason column of Dataframe :
int64
Data type of reassigned_order column of Dataframe :
float64
Data type of session_time column of Dataframe :
float64
Data type of accept_sec column of Dataframe :
float64
Data type of order_sec column of Dataframe :
float64
Data type of total_distance column of Dataframe :
float64
Data type of month column of Dataframe :
int64
Data type of day column of Dataframe :
float64
Data type of delivery_success column of Dataframe :
float64

In [327]:
y_final = model.predict(X_sub)

In [328]:
y_final = np.round(y_final)

In [329]:
print(y_final)

[0 0 0 ... 0 0 0]

In [330]:
df_submit = pd.DataFrame(y_final, columns = ['cancelled'])
df_submit.to_csv('final.csv', index=False)